@page
@model MoviesApp.Pages.Producers.EditModel

@{
    ViewData["Title"] = "Make Changes to this producer";
}

<h2>Make changes to this producer</h2>

<h4>Producer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Producer.Id" />
            <div class="form-group">
                <label asp-for="Producer.Name" class="control-label"></label>
                <input asp-for="Producer.Name" class="form-control" />
                <span asp-validation-for="Producer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.NoOfMoviesProduced" class="control-label"></label>
                <input asp-for="Producer.NoOfMoviesProduced" class="form-control" />
                <span asp-validation-for="Producer.NoOfMoviesProduced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.Isreputed" class="control-label"></label>
                <input asp-for="Producer.Isreputed" class="form-control" />
                <span asp-validation-for="Producer.Isreputed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
