@page
@model MoviesApp.Pages.Albums.CreateModel

@{
    ViewData["Title"] = "Create a new soundtrack";
}

<h2>Create a new soundtrack</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Album.Name" class="control-label"></label>
                <input asp-for="Album.Name" class="form-control" />
                <span asp-validation-for="Album.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.MusicDirector" class="control-label"></label>
                <input asp-for="Album.MusicDirector" class="form-control" />
                <span asp-validation-for="Album.MusicDirector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Length" class="control-label"></label>
                <input asp-for="Album.Length" class="form-control" />
                <span asp-validation-for="Album.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Featuring" class="control-label"></label>
                <input asp-for="Album.Featuring" class="form-control" />
                <span asp-validation-for="Album.Featuring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Genre" class="control-label"></label>
                <input asp-for="Album.Genre" class="form-control" />
                <span asp-validation-for="Album.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Artist" class="control-label"></label>
                <input asp-for="Album.Artist" class="form-control" />
                <span asp-validation-for="Album.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.DateOfRecording" class="control-label"></label>
                <input asp-for="Album.DateOfRecording" class="form-control" />
                <span asp-validation-for="Album.DateOfRecording" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
