@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hr/>

<table border = "1">
    <thead>
        <tr>
            <th>Page Number</th>
            <th>Page Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a href="Jayanagar,Bangalore">Jayanagar, Bangalore</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><a href="NationalCollege,Bangalore">National College, Bangalore</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href="VijayHighschool">Vijay High school</a></td>
        </tr>
    </tbody>    
</table>



