@page
@model Jayanagar_BangaloreModel
@{
    ViewData["Title"] = "Jayanagar, Bangalore";
}

<div>
    <h1>Jayanagar, Bangalore</h1>
    <a href="https://en.wikipedia.org/wiki/Jayanagar,_Bangalore">link to source</a>
    <hr/>

        <p><strong>Jayanagara</strong> is an affluent residential and commercial neighbourhood of the city of Bangalore in Karnataka, India. It is one of the zones of BBMP. It is sub-divided into seven wards.[2]

        The foundation of Jayanagar was laid in the year 1948.[3]

        It is surrounded by Basavanagudi, JP Nagar, Wilson Garden, Banashankari 2nd stage, Gurappanapalya, Suddaguntepalya and BTM Layout among other areas. It is in proximity to the Lalbagh Botanical Gardens. Jayanagar has 10 area blocks (including 4th 'T' Block), of which the 3rd and 4th blocks are largely commercial hubs, while the rest are mostly residential.

        A 2010 survey by DNA Bangalore ranked Jayanagar as the most liveable place in Bangalore and still maintains the old charm of the city.[4]
        </p>

</div>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Bangalore_street_Map.png" alt="Map not available">
</div>

<div>
    <h2>Notable residents</h2>
    <ul>
        <li>Vishnuvardhan, Kannada actor</li>
        <li>N.R. Narayana Murthy, Infosys founde</li>
        <li>Raja Ramanna, nuclear physicist</li>
        <li>VV Giri, former president of India</li>
    </ul>
</div>

<div>
    <h3>References</h3>
    <ol>
        <li> "Bangalore PIN codes". Retrieved 14 October 2012.</li>
        <li> RANGANNA, T. S. "Old-world charm sadly eroded". www.thehindu.com. The Hindu. Retrieved 2 May 2016</li>
        <li> T. S. Ranganna (2013-04-26). "Old-world charm sadly eroded". The Hindu. Retrieved 2013-04-30.</li>
    </ol>
</div>