@page
@model NationalCollege_BangaloreModel
@{
    ViewData["Title"] = "National College, Bangalore";
}

<h1>National College, Bangalore</h1>
<a href="https://en.wikipedia.org/wiki/National_College,_Bangalore">link to source</a>
<hr/>

<p><small>From Wikipedia, the free encyclopedia</small></p>

<p>This article does not <span style = "color:blue">cite</span> any sources. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed. <em>(July 2016) (Learn how and when to remove this template message)</em></p>

<p>The <strong>National College, Bangalore</strong> is the name given to two sister institutions in Bangalore, India: the National College Basavanagudi, founded in 1945, and the National College, Jayanagar, founded in 1965. Other related institutions, also called "National College", are located in Bagepalli,(chikkaballapur Dist) and Gowribidanur.These institutions are managed by The National Education Society Of Karnataka(NES).</p>


<h3>National College (autonomous) Basavanagudi</h3>

<p>National College Basavanagudi is located in Basavanagudi. It was started in the year 1945. The founder of this College is Late Sampath Giri Rao.<br/>

Padmabhushan Dr. H. Narasimhaiah was the chairman of NES until his death. The college flourished under his able leadership and administration. He also started the Bangalore Science Forum (BSF), the first of its kind in India, where luminaries from various scientific disciplines would lecture everyday for an entire month. BSF holds the record for organizing the highest number of lectures on science in India. BSF has also received a National Award for promoting science. It is also the first institute to establish BANGALORE SOCIAL SCIENCES FORUM for social sciences on the same objectives and parallel with Bangalore Science Forum. It conducts week-long social sciences festival with eminent and luminous persons speaking on the various relevant issues.</p>