@page
@model VijayHighschoolModel
@{
    ViewData["Title"] = "Vijaya High school";
}

<h1>Vijaya High school</h1>
<a href="https://en.wikipedia.org/wiki/Vijaya_High_school">link to source</a>
<hr/>


<p><strong>Vijaya High School</strong> is a co-educational school in Jayanagar 3rd blokc, Bangalore, Karnataka. The school received 27 ranks in the Karnataka State Board Exam for SSLC (10th) exam conducted in 1998, the highest ranking of any public school.</p>



<p>The school features an auditorium, sports facilities, and AV theater and various clubs.</p>
