@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div>
<h2>About Amicable Insights</h2>

</br>

<p>Amicable insights is a data analytics company, headquartered at Carl. H Lindner College of Business, Cincinnati Ohio. The firm was incorporated on August 29 th in Room No. 112 under the guidance of Prof. Micheal Gattuso. The company is a data analytics consulting company which deals with data consulting across verticles. We use latest technologies such as R, Python and TensorFlow and present meaningful insights in the form of Graphs, Tables and Reports to our clients. We also build ML models and work on predictive analytics for companies that require us to.</p>
</div>

<div>
<h2>Management</h2>

</br>
<p>The company is wholly owned and managed by Syed Maqutadir Rehman, who is also the CEO of the company.</p>
<img src="/images/Syed.jpg" alt="My Image">
</br>
<p>Syed holds a Bachelors in engineering degree in Electronics and Communication from a reputed college in India. He has also worked in one of the leading Fortune-500 companies, Cognizant Techlogy Solutions in the past.</p>
</div>