@page
@model ContactModel
@{
    ViewData["Title"] = "Help";
}
<h2><strong>Getting started</strong></h2>

<div>
    <h4>Key functionality</h4>
    <P>This application serves as a central reference database for all the movies made by different production houses. It consists of movies, who produced the movies, soundtrack associated with the movies and where were the movies shot. It also consits of lots of supplemental information regarding when the movie was released, last played , bo office collection etc. </P>
    </br>
    <p>Some Of Salient Features include</p>
    </br>
    <p><u>Search Bar to search movies</u></p>
    <img src="/images/Capture3.png">
    <P><u>Option to Stop Playing a movie within 10 years from now</u></P>
    <img src="/images/Capture4.png">
    <p><u>Option to create a good movie by an Experienced director and shot at a renowned location</u></p>
    <img src="/images/Capture5.png">

</div>

<div>
    <h4><u>Adminstrative features</u></h4>

    <p>A lot of administrative tasks are possible while using this application. The administrative area is available in the home page as shown below. Clicking on each link will perform the task as listed on the link</p>
    <img src="/images/Capture1.png">
</div>

<div>
    <h4><u>Statistics</u></h4>

    <p>The application also boasts of a unique intutive dashboard which provides information on some of the key metrics available in the database.</p>
    <img src="/images/Capture2.png">

</div>




