@page
@model SearchMoviesModel
@{
    ViewData["Title"] = "Search for movies";
}

<h2>Search for movies</h2>


<form action="" method="POST" style="margin-top: 50px;">
  <div class="form-group">
    <label class="control-label" for="search">Search For Movies</label>
    <input type="text" class="form-control" name="search" id="search" />
  </div>
  <div class="form-group">
    <input type="submit" value="Search Movies" class="btn btn-default" />
  </div>
</form>


  
    
    @if(Model.SearchFinished) {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Recommendation</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.SearchResults.Count > 0) {
                    @foreach(var movie in Model.SearchResults) {
                        <tr>
                            <td>@movie.Name</td>
                            <td>
                                @if(movie.Isrecommended) {
                                    <text>The movie was recommended</text>
                                } else {
                                    <text>The movie was not recommended</text>
                                }
                            </td>
                            <td>@movie.Rating</td>
                            <td>
                            <a asp-page="/mymovies" asp-route-id="@movie.Id">View Me</a>
                            </td>
                            

                            
                        </tr>
                    }
                } else {
                    <tr class="danger">
                        <td colspan="4" class="text-center">
                            No results found for term "@Model.Search"
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <div class="alert alert-info">
            <p>
                Enter the search terms into the box and click <strong>Search Movies</strong>
            </p>
        </div>
    }
